/* Bagian Dua */

* {
  padding: 0;
  margin: 0;
}

/* NavBar */

.nav-link {
  text-align: center;
}

#profile1 {
  display: none;
  text-decoration: none;
}

.nav-link-profile2 {
  padding-top: 0.5vh;
  margin-left: 59vw;
}

.navbar {
  background-color: #0000aa;
}

.logo img {
  position: absolute;
  margin-top: -2vh;
  width: 8vw;
}

.navbar-nav {
  margin-left: 10vw;
  color: white;
}

/* Bagian 2 */

.bgatas {
  width: 90vw;
  display: flex;
  margin: auto;
  text-align: justify;
  padding-top: 11vh;
  padding-bottom: 15vh;
}

.gbr-kiri img {
  width: 39vw;
  border-radius: 30px;
}

.text-atas {
  padding: 0 0 0 2vw;
}

.text-atas h1 {
  width: 28vw;
  font-size: 2vw;
  font-weight: bolder;
}

.text-atas p {
  font-weight: 500;
  font-size: 1.2vw;
}

/* Footer */

.bg-footer {
  width: auto;
  position: relative;
  margin-top: 7vh;
  background-color: blue;
}

.footer {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 5vh;
  color: white;
}

/* Left */

.left p a {
  font-size: 2vw;
  line-height: 8vh;
  color: white;
  text-decoration: none;
}

/* Middle */

.middle {
  text-align: center;
}

.logos img {
  width: 19vh;
}

.sponsorship {
  width: 39vh;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5vh;
}

.sponsorship1,
.sponsorship2,
.sponsorship3,
.sponsorship4 {
  width: 6vh;
  height: 6vh;
  border-radius: 30px;
  background-color: white;
}

.sponsorship1 {
  background: url(icons8-youtube-48.png);
  background-size: cover;
}
.sponsorship2 {
  background: url(icons8-facebook-48.png);
  background-size: cover;
}
.sponsorship3 {
  background: url(icons8-instagram-48.png);
  background-size: cover;
}
.sponsorship4 {
  background: url(icons8-twitter-48.png);
  background-size: cover;
}

/* Right */

.locate p {
  font-size: 2vw;
  line-height: 5vh;
}

.copyright p {
  font-size: 2vw;
  line-height: 12vh;
}

/* RESPONSIVE */

@media (max-width: 1024px) {
  /* Footer */

  .footer {
    width: 90vw;
  }

  .nav-link-profile2 {
    padding-top: 0.5vh;
    margin-left: 51vw;
  }
}

/* Bagian Dua */

@media (max-width: 768px) {
  /* NavBar */

  .navbar-nav {
    margin-left: 0vw;
    color: white;
  }

  #profile1 {
    display: block;
  }

  .nav-link-profile2 {
    display: none;
    text-align: center;
    padding-top: 0;
    margin-left: 0;
  }

  .logo img {
    width: 9vh;
    margin-top: -4.5vh;
    position: absolute;
  }

  /* Bagian 2 */
  .text-atas h1 {
    font-size: 2.5vw;
    text-align: left;
  }
  .text-atas p {
    font-size: 2vw;
  }

  /* Footer */

  .sponsorship {
    width: 45vh;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
  }

  .sponsorship1,
  .sponsorship2,
  .sponsorship3,
  .sponsorship4 {
    width: 6.5vh;
    height: 6.5vh;
  }

  .left p a {
    font-size: 3.5vh;
    line-height: normal;
  }

  .locate p {
    font-size: 3.5vh;
  }

  .copyright p {
    font-size: 3.5vh;
    line-height: normal;
  }
}

@media (max-width: 500px) {
  /* NavBar */

  .navbar-nav {
    margin-left: 0vw;
    color: white;
  }

  #profile1 {
    display: block;
  }

  .nav-link-profile2 {
    display: none;
    text-align: center;
    padding-top: 0;
    margin-left: 0;
  }

  .logo img {
    width: 9vh;
    margin-top: -4.5vh;
    position: absolute;
  }

  /* Bagian 2 */

  .bgatas {
    width: 90vw;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding-top: 8vh;
  }

  .gbr-kiri img {
    width: 90vw;
    height: 31vh;
    border-radius: 0.5cm;
  }

  .text-atas {
    padding-right: 2vw;
  }

  .text-atas h1 {
    width: 48vw;
    font-size: 3vh;
    padding-top: 6vh;
    font-weight: bolder;
  }

  .text-atas p {
    font-size: 2.5vh;
    font-weight: 500;
  }
}

@media (max-width: 425px) {
  /* Footer */

  .carousel-inner img {
    height: 51vh;
  }

  .sponsorship {
    width: 56vh;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
  }

  .sponsorship1,
  .sponsorship2,
  .sponsorship3,
  .sponsorship4 {
    width: 8vh;
    height: 8vh;
  }

  .footer {
    flex-direction: column;
  }

  .left {
    position: relative;
    z-index: 2;
    order: 2;
  }

  .middle {
    width: 90vw;
    order: 1;
    position: absolute;
    text-align: right;
  }

  .right {
    order: 3;
  }

  .logos img {
    width: 19vh;
  }

  .sponsorship {
    width: 45vw;
    display: flex;
    align-content: space-around;
    float: right;
    margin-top: 38vh;
  }

  .left p a {
    font-size: 3.9vw;
    line-height: 6vh;
  }

  .locate {
    padding-top: 5vh;
  }

  .locate p {
    font-size: 3.9vw;
    line-height: 4.5vh;
  }

  .copyright p {
    font-size: 3.9vw;
    padding-top: 5.5vh;
  }
}

@media (max-width: 375px) {
  /* Footer */

  .sponsorship {
    width: 27vh;
    display: flex;
    justify-content: space-evenly;
    margin-top: 39vh;
  }

  .sponsorship1,
  .sponsorship2,
  .sponsorship3,
  .sponsorship4 {
    width: 6vh;
    height: 6vh;
  }

  .left p a {
    font-size: 4.5vw;
    line-height: 6vh;
  }

  .locate {
    padding-top: 7vh;
  }

  .locate p {
    font-size: 4.7vw;
    line-height: 4.5vh;
  }

  .copyright p {
    font-size: 4.5vw;
    padding-top: 3.5vh;
  }
}

@media (max-width: 320px) {
  /* Footer */

  .carousel-inner img {
    height: 41vh;
  }

  .footer {
    padding-top: 5vh;
    padding-bottom: 3vh;
  }

  .sponsorship {
    width: 10vh;
    display: grid;
    grid-template-areas:
      'sponsorship1 sponsorship2'
      'sponsorship3 sponsorship4';
    gap: 3vh;
    justify-content: space-between;
    margin-top: 32.5vh;
    margin-right: 40vh;
  }

  .sponsorship1,
  .sponsorship2,
  .sponsorship3,
  .sponsorship4 {
    width: 6vh;
    height: 6vh;
    border-radius: 30px;
  }

  .left p a {
    font-size: 5.6vw;
    line-height: 6vh;
  }

  .locate {
    padding-top: 7vh;
  }

  .locate p {
    font-size: 5.9vw;
    text-align: right;
    line-height: 4.5vh;
  }

  .copyright p {
    font-size: 5vw;
    padding-top: 3vh;
    padding-left: 39vw;
  }
}
