* {
  padding: 0;
  margin: 0;
}

.nav-link {
  text-align: center;
}

#profile1 {
  display: none;
  text-decoration: none;
}

.nav-link-profile2 {
  padding-top: 0.5vh;
  margin-left: 59vw;
}

.navbar {
  background-color: #0000aa;
}

.logo img {
  position: absolute;
  margin-top: -2vh;
  width: 8vw;
}

.navbar-nav {
  margin-left: 10vw;
  color: white;
}

/* BAGIAN 5 */

.bg5-judul h1 {
  font-weight: 600;
  padding: 13vh 0 5vh 5vw;
}

.bg5-jadwal {
  width: 90%;
  margin: auto;
  background: linear-gradient(180deg, #0000aa 0%, rgba(216, 216, 216, 0) 100%), #0000aa;
  border-radius: 30px;
}

.bg5-jadwal h1 {
  color: white;
}

.bg5-tgl {
  width: 85vw;
  margin: auto;
  padding-top: 4vh;
  justify-content: end;
  display: flex;
  color: white;
}

.bg5-tgl h6 {
  font-size: 1.7vw;
  padding-left: 5vw;
  align-self: center;
}

.bg5-lokasi h1 {
  font-size: 3vw;
  font-weight: bolder;
}

.bg5-lokasi p {
  font-size: 1.5vw;
  font-weight: bolder;
}

.bg5-lokasi {
  text-align: center;
  margin: auto;
  color: white;
  padding-bottom: 5vh;
}

.bg5-tgh {
  width: 55vw;
  display: flex;
  margin: auto;
  padding-top: 4vh;
  justify-content: space-evenly;
}

#bg5-vs {
  font-size: 4vw;
  color: white;
  align-self: center;
}

#bg5-ft {
  width: 43vw;
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding-top: 3vh;
  padding-bottom: 7vh;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: linear-gradient(180deg, rgba(0, 0, 170, 0.78) 0%, rgba(0, 0, 170, 0.79) 100%);
}

#bg5-ft h1 {
  font-size: 4vw;
}

#bg5-gbr {
  padding-right: 3vw;
}

#bg5-gbr img {
  width: 7vh;
  height: 7vh;
  border-radius: 20px;
  padding: 1vh 0.3vw;
  background-color: white;
  opacity: 0.8;
}

.bg5-team1 img {
  width: 15vw;
}

.bg5-team2 img {
  width: 15vw;
}

.stats-bgc-5 {
  margin-top: 15vh;
  background: linear-gradient(180deg, rgba(0, 0, 170, 0.78) 0%, rgba(0, 0, 170, 0.79) 100%);
}

.bg5-judul2 h1 {
  font-size: 4vw;
  color: white;
  padding-top: 11vh;
  text-align: center;
}

.bg5-stats {
  display: flex;
  padding-top: 15vh;
  justify-content: space-evenly;
}

.kiri {
  font-size: 4vh;
  font-weight: bold;
  text-align: left;
  color: white;
  padding-bottom: 2vh;
}

.tengah {
  font-size: 4vh;
  font-weight: bold;
  text-align: center;
  color: white;
  padding-bottom: 2vh;
}

.kanan {
  font-size: 4vh;
  font-weight: bold;
  text-align: right;
  color: white;
  padding-bottom: 2vh;
}

.pemain {
  display: grid;
  grid-template-areas:
    'pemain1 pemain2 pemain3'
    'pemain4 pemain5 pemain6';
  grid-template-columns: 25vw 25vw 25vw;
  justify-content: space-evenly;
  gap: 10vh 0;
  margin: auto;
  padding-bottom: 10vh;
}

.card-pemain {
  width: 25vw;
  text-align: center;
  border-radius: 40px;
  border: 1px solid blue;
}

.pemain-pengganti {
  display: grid;
  grid-template-areas:
    'pemain1'
    'pemain2'
    'pemain3';
  grid-template-columns: 25vw 25vw 25vw;
  justify-content: space-evenly;
  gap: 10vh 0;
  margin: auto;
  padding-bottom: 10vh;
}

.card-pemain-pengganti {
  width: 25vw;
  text-align: center;
  border-radius: 40px;
  border: 1px solid blue;
}

.inti h1 {
  color: #0000aa;
  padding: 9vh 0 7vh 0;
  text-align: center;
  font-weight: 600;
}

.gambar-pemain {
  margin: auto;
}

.gambar-pemain img {
  width: 20vw;
  padding: 5vh 0 5vh 0;
}

.team-pemain h2 {
  padding-top: 5vh;
  font-size: 2vw;
}

.team-pemain p {
  color: blue;
  font-size: 4vw;
}

.role-pemain p {
  width: 12vw;
  padding: 1vh 0.2vw;
  border-radius: 20px;
  margin: auto;
  color: white;
  background-color: blue;
  border: 1px solid blue;
}

.pengganti h1 {
  color: #0000aa;
  font-weight: 600;
  padding: 9vh 0 7vh 0;
  text-align: center;
}

/* Footer */

.bg-footer {
  width: auto;
  background-color: blue;
  position: relative;
}

.footer {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 5vh;
  color: white;
}

/* Left */

.left p a {
  font-size: 2vw;
  line-height: 8vh;
  color: white;
  text-decoration: none;
}

/* Middle */

.middle {
  text-align: center;
}

.logos img {
  width: 19vh;
}

.sponsorship {
  width: 39vh;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5vh;
}

.sponsorship1,
.sponsorship2,
.sponsorship3,
.sponsorship4 {
  width: 6vh;
  height: 6vh;
  border-radius: 30px;
  background-color: white;
}

.sponsorship1 {
  background: url(icons8-youtube-48.png);
  background-size: cover;
}
.sponsorship2 {
  background: url(icons8-facebook-48.png);
  background-size: cover;
}
.sponsorship3 {
  background: url(icons8-instagram-48.png);
  background-size: cover;
}
.sponsorship4 {
  background: url(icons8-twitter-48.png);
  background-size: cover;
}

/* Right */

.locate p {
  font-size: 2vw;
  line-height: 5vh;
}

.copyright p {
  font-size: 2vw;
  line-height: 12vh;
}

/* RESPONSIVE */

@media (max-width: 1024px) {
  /* Footer */

  .footer {
    width: 90vw;
  }

  .nav-link-profile2 {
    padding-top: 0.5vh;
    margin-left: 51vw;
  }
}

@media (max-width: 768px) {
  .bg5-judul h1 {
    font-weight: 600;
    padding: 5vh 0 5vh 5vw;
  }
  .gambar-pemain img {
    width: 30vh;
  }

  .navbar-nav {
    margin-left: 0vw;
    color: white;
  }

  #profile1 {
    display: block;
  }

  .nav-link-profile2 {
    display: none;
    text-align: center;
    padding-top: 0;
    margin-left: 0;
  }

  .logo img {
    width: 9vh;
    margin-top: -4.5vh;
    position: absolute;
  }

  .bg5-lokasi {
    text-align: center;
    margin: auto;
    color: white;
  }

  .bg5-lokasi h1 {
    font-size: 6vh;
    font-weight: bolder;
  }

  .bg5-lokasi p {
    font-size: 4vh;
    font-weight: bolder;
  }

  #bg5-gbr img {
    width: 7vh;
    height: 7vh;
    border-radius: 10px;
    padding: 1vh 0.3vw;
    background-color: white;
    opacity: 0.8;
  }

  #bg5-vs {
    font-size: 7vh;
    color: white;
    align-self: center;
  }

  #bg5-ft h1 {
    font-size: 7vh;
  }

  .role-pemain p {
    width: 20vw;
  }

  .team-pemain h2 {
    font-size: 3vh;
    font-weight: 600;
    padding-top: 5vh;
  }

  .team-pemain p {
    font-size: 9vh;
    font-weight: 600;
    color: blue;
  }

  /* Footer */

  .sponsorship {
    width: 45vh;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
  }

  .sponsorship1,
  .sponsorship2,
  .sponsorship3,
  .sponsorship4 {
    width: 6.5vh;
    height: 6.5vh;
  }

  .left p a {
    font-size: 3.5vh;
    line-height: normal;
  }

  .locate p {
    font-size: 3.5vh;
  }

  .copyright p {
    font-size: 3.5vh;
    line-height: normal;
  }
}

@media (max-width: 500px) {
  .navbar-nav {
    margin-left: 0vw;
    color: white;
  }

  #profile1 {
    display: block;
  }

  .nav-link-profile2 {
    display: none;
    text-align: center;
    padding-top: 0;
    margin-left: 0;
  }

  .logo img {
    width: 9vh;
    margin-top: -4.5vh;
    position: absolute;
  }

  /* BAGIAN 5 */

  #bg5-gbr img {
    width: 9vw;
  }

  .bg5-tgh {
    width: 90vw;
  }

  .bg5-team1 img {
    width: 32vw;
  }

  .bg5-team2 img {
    width: 32vw;
  }

  #bg5-vs {
    font-size: 9vw;
  }

  #bg5-ft {
    width: 72.5vw;
  }

  #bg5-ft h1 {
    font-size: 9vw;
  }

  .bg5-lokasi h1 {
    font-size: 5.5vw;
  }
  .bg5-lokasi p {
    font-size: 4.5vw;
  }

  .bg5-judul2 h1 {
    width: 77vw;
    font-size: 8vw;
    color: white;
    padding-top: 11vh;
    margin: auto;
  }
  .kiri {
    font-size: 4vw;
    font-weight: bold;
    text-align: left;
    color: white;
  }

  .tengah {
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    color: white;
  }

  .kanan {
    font-size: 4vw;
    font-weight: bold;
    text-align: right;
    color: white;
  }

  .pemain {
    display: grid;
    grid-template-areas:
      'pemain1 pemain2'
      'pemain3 pemain4'
      'pemain5 pemain6';
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .pemain-pengganti {
    display: grid;
    grid-template-areas:
      'pemain1 pemain2'
      'pemain3';
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .card-pemain {
    width: 35vw;
  }

  .card-pemain-pengganti {
    width: 65vw;
  }

  .inti h1 {
    padding: 9vh 0 7vh 0;
    text-align: center;
  }

  .gambar-pemain {
    margin: auto;
  }

  .gambar-pemain img {
    width: 35vw;
    padding: 5vh 0 5vh 0;
  }

  .team-pemain h2 {
    padding-top: 5vh;
    font-size: 6vw;
  }

  .team-pemain p {
    color: blue;
    font-size: 8vw;
  }

  .role-pemain p {
    width: 31vw;
    padding: 1vh 0.2vw;
    border-radius: 20px;
    margin: auto;
    color: white;
    background-color: blue;
    border: 1px solid blue;
  }

  .pengganti h1 {
    padding: 9vh 0 7vh 0;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .gambar-pemain img {
    width: 50vh;
  }

  .navbar-nav {
    margin-left: 0vw;
    color: white;
  }

  #profile1 {
    display: block;
  }

  .nav-link-profile2 {
    display: none;
    text-align: center;
    padding-top: 0;
    margin-left: 0;
  }

  .logo img {
    width: 9vh;
    margin-top: -4.5vh;
    position: absolute;
  }

  .bg5-lokasi {
    text-align: center;
    margin: auto;
    color: white;
  }

  .bg5-lokasi h1 {
    font-size: 4vh;
    font-weight: bolder;
  }

  .bg5-lokasi p {
    font-size: 3vh;
    font-weight: bolder;
  }

  #bg5-gbr img {
    width: 6vh;
    height: 6vh;
    border-radius: 12px;
  }

  #bg5-vs {
    font-size: 6vh;
    color: white;
    align-self: center;
  }

  #bg5-ft h1 {
    font-size: 6vh;
  }

  .role-pemain p {
    width: 50vw;
  }

  .team-pemain h2 {
    font-size: 6.5vw;
    font-weight: 600;
    padding-top: 5vh;
  }

  .team-pemain p {
    font-size: 11vw;
    font-weight: 600;
    color: blue;
  }

  .bg5-stats {
    display: flex;
    width: 91vw;
    margin: auto;
    padding-top: 15vh;
    justify-content: space-between;
  }

  .kiri {
    font-size: 4vh;
    font-weight: bold;
    text-align: left;
    color: white;
  }

  .tengah {
    font-size: 4vh;
    font-weight: bold;
    text-align: center;
    color: white;
  }

  .kanan {
    font-size: 4vh;
    font-weight: bold;
    text-align: right;
    color: white;
  }

  .bg5-judul2 h1 {
    width: 95vw;
    font-size: 7vh;
    font-weight: 600;
    margin: auto;
    text-align: center;
    padding-top: 11vh;
    color: white;
  }

  .pemain {
    display: grid;
    grid-template-areas:
      'pemain1'
      'pemain2'
      'pemain3'
      'pemain4'
      'pemain5'
      'pemain6';
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .pemain-pengganti {
    display: grid;
    grid-template-areas:
      'pemain1'
      'pemain2'
      'pemain3';
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .card-pemain {
    width: 75vw;
  }

  .card-pemain-pengganti {
    width: 75vw;
  }

  /* Footer */

  .carousel-inner img {
    height: 51vh;
  }

  .sponsorship {
    width: 56vh;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
  }

  .sponsorship1,
  .sponsorship2,
  .sponsorship3,
  .sponsorship4 {
    width: 8vh;
    height: 8vh;
  }

  .footer {
    flex-direction: column;
  }

  .left {
    position: relative;
    z-index: 2;
    order: 2;
  }

  .middle {
    width: 90vw;
    order: 1;
    position: absolute;
    text-align: right;
  }

  .right {
    order: 3;
  }

  .logos img {
    width: 19vh;
  }

  .sponsorship {
    width: 45vw;
    display: flex;
    align-content: space-around;
    float: right;
    margin-top: 38vh;
  }

  .left p a {
    font-size: 3.9vw;
    line-height: 6vh;
  }

  .locate {
    padding-top: 5vh;
  }

  .locate p {
    font-size: 3.9vw;
    line-height: 4.5vh;
  }

  .copyright p {
    font-size: 3.9vw;
    padding-top: 5.5vh;
  }
}

@media (max-width: 375px) {
  .gambar-pemain img {
    width: 50vh;
    padding: 3vh 6vh 3vh 0;
  }

  /* Footer */

  .sponsorship {
    width: 27vh;
    display: flex;
    justify-content: space-evenly;
    margin-top: 39vh;
  }

  .sponsorship1,
  .sponsorship2,
  .sponsorship3,
  .sponsorship4 {
    width: 6vh;
    height: 6vh;
  }

  .left p a {
    font-size: 4.5vw;
    line-height: 6vh;
  }

  .locate {
    padding-top: 7vh;
  }

  .locate p {
    font-size: 4.7vw;
    line-height: 4.5vh;
  }

  .copyright p {
    font-size: 4.5vw;
    padding-top: 3.5vh;
  }
}

@media (max-width: 320px) {
  .gambar-pemain img {
    width: 49vh;
    padding: 3vh 11vh 3vh 0;
  }

  .bg5-lokasi h1 {
    font-size: 6.5vw;
  }
  .bg5-lokasi p {
    font-size: 5.5vw;
  }

  /* Footer */

  .carousel-inner img {
    height: 41vh;
  }

  .footer {
    padding-top: 5vh;
    padding-bottom: 3vh;
  }

  .sponsorship {
    width: 10vh;
    display: grid;
    grid-template-areas:
      'sponsorship1 sponsorship2'
      'sponsorship3 sponsorship4';
    gap: 3vh;
    justify-content: space-between;
    margin-top: 32.5vh;
    margin-right: 40vh;
  }

  .sponsorship1,
  .sponsorship2,
  .sponsorship3,
  .sponsorship4 {
    width: 6vh;
    height: 6vh;
    border-radius: 30px;
  }

  .left p a {
    font-size: 5.6vw;
    line-height: 6vh;
  }

  .locate {
    padding-top: 7vh;
  }

  .locate p {
    font-size: 5.9vw;
    text-align: right;
    line-height: 4.5vh;
  }

  .copyright p {
    font-size: 5vw;
    padding-top: 3vh;
    padding-left: 39vw;
  }
}
